/* header layout styles */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    font-weight: 300;
    text-align: center;
}

.nav-links {
    list-style: none;
    font-size: larger;
    font-weight: 400;
    padding: .75em;
    font-weight: bold;    
}   

.header-image-wrapper {
    padding-top: 5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%; 
}

.section-header {
    text-align: center;
}


p {
    padding: .25em .5em;
    text-align: center;
    min-width: 50%;
    font-size: x-large;
}

/* Main section styles */

.h1 {
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
}

.h2 {
    text-align: center;
    font-weight: normal;
    font-size: 0.5em;
}

.container {
    padding: .5em;
    text-align: center;
}

.main-image-wrapper {
    padding-top: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Footer*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(159, 159, 159);
    color: black;
    text-align: center;
  }
