/* header layout styles */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    font-weight: 300;
    text-align: center;
}

.nav-links {
    list-style: none;
    font-size: larger;
    font-weight: 400;
    padding: .75em;
}   

.header-image-wrapper {
    padding-top: 5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}